.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep.card {
  padding-top: 60px;
  margin: 0 auto;
  width: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  margin: 32px 180px 160px;
  width: 536px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

.buttons {
  display: flex;
  margin-top: 12px;
  gap: 8px;
}

.btn-entrar {
  background-color: var(--success) !important;
  margin-top: 40px;
}

.btn-cadastro {
  background-color: var(--primary) !important;
}

.btn-esqueci-senha {
  text-decoration: underline;
}

.logo {
  margin: 0 auto;
}
