.header-toolbar {
  background-color: white;
  height: 120px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  padding: 0 300px 0 150px;
}

.buttons-container {
  display: flex;
  gap: 40px;
  button {
    background-color: white;
  }
}

.header-icons {
  background-color: white;
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
