.header-toolbar {
  background-color: white;
  height: 120px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

  button {
    background-color: white;
  }
}

.spacer {
  flex: 1 1 auto;
}

.header-icons {
  padding: 0 14px;
  background-color: white;
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
