.settings-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .settings-banner {
    background-color: var(--settings-banner-bg);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    gap: 3.5rem;
    border: 1px solid var(--settings-banner-border);

    .banner-icon {
      color: var(--primary);
      font-size: 50px;
      width: 50px;
      height: 50px;
    }

    .banner-text {
      font-family: "Raleway", sans-serif;
      h2 {
        margin: 0 0 12px 0;
        color: var(--primary);
        font-size: 1.25rem;
        font-weight: 700;
      }
      p {
        margin: 0;
        color: var(--primary);
        font-size: 0.9rem;
        font-family: "Raleway", sans-serif;
      }
    }
  }

  .settings-card {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background-color: var(--card-bg);

    mat-card-header {
      mat-icon {
        color: var(--settings-text-subtitle);
        font-size: 28px;
        width: 28px;
        height: 28px;
      }
      mat-card-title {
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 4px;
        color: var(--settings-text-subtitle);
      }
    }

    .setting-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;

      &.vertical {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }

      .setting-label {
        display: flex;
        flex-direction: column;
        p {
          font-family: "Raleway", sans-serif;
          color: var(--settings-text);
          font-weight: 700;
        }
        span {
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          font-size: 0.8rem;
          color: var(--settings-text);
          margin-top: 4px;
        }
      }

      mat-button-toggle-group {
        width: 100%;
        mat-button-toggle {
          flex: 1;
          font-size: 1.25rem;
          color: var(--settings-text-subtitle);
        }
      }
      .mat-button-toggle-appearance-standard.mat-button-toggle-checked{
        background-color: var(--background-toggle);
        color: var(--card-bg);
      }
    }
  }
}
