:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.drawer-container {
  flex: 1;
  background-color: var(--background-color);
}

.drawer-mode {
  width: 33.625rem;
  background-color: white;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.drawer-content {
  padding: 1.5rem 1rem;
  button {
    margin-top: 2rem;
  }
}

.drawer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
