.drawer-footer {
  display: flex;
  justify-content: space-around;
  padding: 34px 0 29px 0;
  border-top: 1px solid var(--drawer-border);
  button {
    background-color: var(--card-bg);
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
  }
}

.button-preferencias {
  color: var(--settings-text);
}

.button-sair {
  color: var(--error);
}
