.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: #555;
  .home-icon { color: #3F51B5; margin-right: 8px; }
  .chevron { margin: 0 8px; color: #999; }
  .title { font-weight: bold; }
}

.board-columns {
  display: flex;
  gap: 1rem;
}

::ng-deep app-card.column-card .card {
  min-height: 43.75rem;
  min-width: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.column-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  
  h3 { margin: 0; font-size: 14px; color: #777; font-weight: 500;}
  
  .dot {
    width: 8px; height: 8px; border-radius: 50%; margin-right: 8px;
    &.blue { background-color: #5C6BC0; }
    &.yellow { background-color: #FFCA28; }
    &.green { background-color: #66BB6A; }
  }
}

.task-card {
  background-color: #F5F6F8;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;

  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 { margin: 0; font-weight: bold; color: #333; }
    .play-btn { color: #66BB6A; } // Cor do play
  }

  .task-meta { margin: 8px 0; }
  
  .time-badge {
    background-color: var(--bg-blue-color);
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    mat-icon { font-size: 14px; width: 14px; height: 14px; margin-right: 4px; }
  }

  .task-desc {
    font-size: 12px;
    color: #888;
    line-height: 1.4;
    margin: 0;
  }
}

.empty-state {
  color: #CCC;
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
}