.header-toolbar {
  background-color: var(--card-bg);
  height: 7.5rem;
  position: relative;
  z-index: 10;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  padding: 0 9.375rem 0 9.375rem;
}

.buttons-container {
  display: flex;
  gap: 2.5rem;
  button {
    background-color: var(--card-bg);
  }
}

.header-icons {
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.arrows-icon {
  color: var(--error);
}
