<div class="container">
  <app-card [cardClass]="'card'">
    <app-vertical-logo class="logo" width="190px" />

    <form class="form" [formGroup]="signupForm">
      <!-- <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field> -->

      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" />
        @if (email?.hasError("required")) {
          <mat-error>O e-mail é obrigatório</mat-error>
        }
        @if (email?.hasError("email")) {
          <mat-error>E-mail inválido</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (password?.hasError("required")) {
          <mat-error>A senha é obrigatória</mat-error>
        }
        @if (password?.hasError("minlength")) {
          <mat-error>A senha deve ter pelo menos 6 caracteres</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Repita a senha</mat-label>
        <input matInput formControlName="repeatPassword" type="password" />
        @if (repeatPassword?.hasError("required")) {
          <mat-error>Repetir a senha é obrigatório</mat-error>
        }
        @if (repeatPassword?.hasError("passwordMismatch")) {
          <mat-error>As senhas não coincidem</mat-error>
        }
      </mat-form-field>

      <div class="buttons">
        <button matButton="filled" class="btn-cancelar" (click)="cancel()">Cancelar</button>
        <button matButton="filled" class="btn-cadastro" (click)="signup()">Cadastrar</button>
      </div>
    </form>
  </app-card>
</div>
