@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      ),
      typography: Roboto,
      density: 0
    )
  );
}

:root {
  --primary: #5b8dbe;
  --error: #e89b8c;
  --success: #a8dba8;
  --background-color: #f7f8fa;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  font-family: Raleway, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--background-color);
}

/* estado normal */
.mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__trailing {
  border-color: var(--primary) !important;
}

/* foco */
.mat-mdc-form-field.mat-form-field-appearance-outline.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-form-field-appearance-outline.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-form-field-appearance-outline.mat-focused .mdc-notched-outline__trailing {
  border-color: var(--primary) !important;
}

.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__trailing {
  border-color: var(--error) !important;
  color: var(--error) !important;
}

.mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__notch {
  border-left: none !important;
}

.mat-mdc-form-field.mat-focused .mdc-text-field__input,
.mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: var(--primary) !important;
}

.mat-mdc-form-field:not(.mat-focused) .mdc-text-field--invalid .mdc-text-field__input,
.mat-mdc-form-field:not(.mat-focused) .mdc-text-field--invalid .mdc-floating-label {
  color: var(--error) !important;
}

.mat-mdc-form-field:not(.mat-focused) .mdc-text-field:not(.mdc-text-field--invalid) .mdc-text-field__input,
.mat-mdc-form-field:not(.mat-focused) .mdc-text-field:not(.mdc-text-field--invalid) .mdc-floating-label {
  color: var(--primary) !important;
}
