@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      ),
      typography: Roboto,
      density: 0
    )
  );
}

:root {
  --primary: #5b8dbe;
  --error: #e89b8c;
  --success: #a8dba8;
  --background-color: #f7f8fa;
  --drawer-bg-active: #a8c5e080;
  --drawer-border: #e5e4e4;
  --background-toggle: #6b9bd1;
  --toggle-text-checked: #ffffff;
  --settings-text-subtitle: #4a5565;
  --settings-text: #1a1f2e;
  --settings-banner-bg: #e3f2fd;
  --settings-banner-border: #bbdefb;
  --card-bg: #ffffff;
}

body.theme-dark {
  --primary: #5b8dbe;
  --error: #e89b8c;
  --success: #a8dba8;
  --background-color: #2c3e50;
  --drawer-bg-active: #a8c5e080;
  --drawer-border: #e5e4e4;
  --background-toggle: #e89b8c;
  --toggle-text-checked: #000000;
  --settings-text-subtitle: #e5e4e4;
  --settings-text: #f7f8fa;
  --settings-banner-bg: #c1ddf8;
  --settings-banner-border: #bbdefb;
  --card-bg: #1a1f2e;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  font-family: Raleway, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--background-color);
}

/* estado normal */
.mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__trailing {
  border-color: var(--primary) !important;
}

/* foco */
.mat-mdc-form-field.mat-form-field-appearance-outline.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-form-field-appearance-outline.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-form-field-appearance-outline.mat-focused .mdc-notched-outline__trailing {
  border-color: var(--primary) !important;
}

.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__trailing {
  border-color: var(--error) !important;
  color: var(--error) !important;
}

.mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__notch {
  border-left: none !important;
}

.mat-mdc-form-field.mat-focused .mdc-text-field__input,
.mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: var(--primary) !important;
}

.mat-mdc-form-field:not(.mat-focused) .mdc-text-field--invalid .mdc-text-field__input,
.mat-mdc-form-field:not(.mat-focused) .mdc-text-field--invalid .mdc-floating-label {
  color: var(--error) !important;
}

.mat-mdc-form-field:not(.mat-focused)
  .mdc-text-field:not(.mdc-text-field--invalid)
  .mdc-text-field__input,
.mat-mdc-form-field:not(.mat-focused)
  .mdc-text-field:not(.mdc-text-field--invalid)
  .mdc-floating-label {
  color: var(--primary) !important;
}
